---
import ServicesDb from "../../database/services.json";
import type { Services } from "../../models/Service";
const services = ServicesDb as Services;
---

<div>
  <h1>VigIA</h1>
  <img src="/public/images/camera.png" alt="camera_images" />
</div>
