---
import ServicesDb from "../../database/services.json";
import type { Services } from "../../models/Service";
const services = ServicesDb as Services;
---

<section>
  <h1>VigIA</h1>
  <img src="/public/images/camera.png" class="" alt="camera_images" />
  <p>La diferencia entre mirar y entender.</p>
  <p>
    Porque ver no es suficiente cuando cada detalle importa. Integra
    inteligencia artificial a tus cámaras y descubre patrones, riesgos y
    oportunidades que antes pasaban desapercibidos.
  </p>
</section>
