@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #=;
  --color-primary-dark: #1e40af;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text: #0f172a;
  --color-muted: #64748b;

  --color-gradient-start: #002aff;
  --color-gradient-mid: #2563eb;
  --color-gradient-end: #60a5fa;

  --font-sans: "Inter", sans-serif;
  --font-display: "Blinker", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
  }
}
