@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-primary-dark: #5b21b6;
  --color-background: #05010a;
  --color-surface: #120a1f;
  --color-text: #f5f3ff;
  --color-muted: #a78bfa;

  --color-gradient-start: #2e1065;
  --color-gradient-mid: #7c3aed;
  --color-gradient-end: #fb7185;

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Blinker', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
  }
}